<template>
  <div class="elem">
    <span>hello</span>
    <span>
      {{ lane }}
    </span>
  </div>
</template>

<script>
export default {
  name: "ChampStat",
  props: {
    lane: String,
  },
};
</script>

<style scoped>
.elem {
  width: 930px;
  height: 56px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
</style>
