<template>
  <div class="stat-container">
    <div class="row" v-for="(champ, i) in data" :key="champ.id">
      <span class="left-elements">
        <span class="order">{{ i + 1 }}</span>
        <span class="icon"
          ><img
            :src="require(`../assets/icons/${converIdToName(champ.id)}.png`)"
            :alt="converIdToName(champ.id)"
        /></span>
        <span>{{ converIdToName(champ.id) }}</span>
      </span>
      <span class="right-elements">
        <span>{{ (champ["win rate"] * 100).toFixed(2) }}%</span>
        <span>{{ (champ["pick rate"] * 100).toFixed(2) }}%</span>
        <span>{{ (champ["ban rate"] * 100).toFixed(2) }}%</span>
        <span>{{ champ["sample count"] }}</span>
      </span>
    </div>

    <!-- <div v-for="(a, i) in 100" :key="i">hello</div> -->
    <!-- <ChampStat :lane="lane" /> -->
  </div>
</template>

<script>
// import ChampStat from "./ChampStat.vue";

export default {
  name: "StatContainer",
  props: {
    data: Array,
    lane: String,
    idToName: Array,
  },
  // data() {
  //   return {
  //     lane: "TOP",
  //   };
  // },
  // components: {
  //   ChampStat,
  // },
  methods: {
    converIdToName(id) {
      const elem = this.idToName.find((elem) => elem.id === id);
      return elem.name;
    },
    roundToDecimalPlace(value) {
      return value.toFixed(2);
    },
  },
  created() {
    console.log(this.data);
  },
};
</script>

<style scoped>
.stat-container {
  overflow-x: hidden;
  overflow-y: scroll;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .order {
  display: inline-block;
  padding-left: 5px;
  text-align: center;
} */

.right-elements,
.left-elements {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.right-elements span,
.left-elements span {
  display: inline-block;
  padding: 5px;
  width: 76px;
  height: 21px;
  text-align: center;
}
img {
  width: 30px;
  height: 30px;
}
</style>
