<template>
  <section class="table-container">
    <nav class="tab-btns">
      <button
        v-on:click="changeTab('TOP')"
        :class="{ active: viewTab === 'TOP' }"
      >
        탑
      </button>
      <button
        v-on:click="changeTab('JUNGLE')"
        :class="{ active: viewTab === 'JUNGLE' }"
      >
        정글
      </button>
      <button
        v-on:click="changeTab('MIDDLE')"
        :class="{ active: viewTab === 'MIDDLE' }"
      >
        미드
      </button>
      <button
        v-on:click="changeTab('ADCARRY')"
        :class="{ active: viewTab === 'ADCARRY' }"
      >
        원딜
      </button>
      <button
        v-on:click="changeTab('SUPPORT')"
        :class="{ active: viewTab === 'SUPPORT' }"
      >
        서폿
      </button>
    </nav>
    <TableHeader />
    <StatContainer
      v-show="viewTab === 'TOP'"
      :data="rateData.TOP"
      :id-to-name="idToName"
    />
    <StatContainer
      v-show="viewTab === 'MIDDLE'"
      :data="rateData.MIDDLE"
      :id-to-name="idToName"
    />
    <StatContainer
      v-show="viewTab === 'JUNGLE'"
      :data="rateData.JUNGLE"
      :id-to-name="idToName"
    />
    <StatContainer
      v-show="viewTab === 'ADCARRY'"
      :data="rateData.ADCARRY"
      :id-to-name="idToName"
    />
    <StatContainer
      v-show="viewTab === 'SUPPORT'"
      :data="rateData.SUPPORT"
      :id-to-name="idToName"
    />
  </section>
</template>

<script>
import TableHeader from "./TableHeader.vue";
import StatContainer from "./StatContainer.vue";

export default {
  name: "TableContainer",
  components: {
    TableHeader,
    StatContainer,
  },
  props: {
    idToName: Array,
    rateData: Object,
  },
  emits: [
    "top-click",
    "jungle-click",
    "middle-click",
    "adcarry-click",
    "support-click",
  ],
  data() {
    return {
      viewTab: "TOP",
      topData: [],
      jungleData: [],
      middleData: [],
      adcarryData: [],
      supportData: [],
      // active: {
      //   TOP: true,
      //   JUNGLE: false,
      //   MIDDLE: false,
      //   ADCARRY: false,
      //   SUPPORT: false,
      // },
    };
  },
  methods: {
    changeTab(lane) {
      // for (const key in this.active) this.active[key] = false;
      this.viewTab = lane;
      // this.topActive = false;
      // this.middleActive = false;
      // this.jungleActive = false;
      // this.adcarryActive = false;
      // this.supportActive = false;
    },
  },
  created() {
    // console.log(this.this.rateData)
    // console.log(this.rateData.TOP);
    this.topData = this.rateData.TOP;
    this.jungleData = this.rateData.JUNGLE;
    this.middleData = this.rateData.MIDDLE;
    this.adcarryData = this.rateData.ADCARRY;
    this.supportData = this.rateData.SUPPORT;
    // console.log(this.topData);
  },
};
</script>

<style scoped>
.table-container {
  min-height: 200px;
  width: 930px;
  box-shadow: 0 4px 16px 0 rgb(126 155 255 / 30%);
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
}

.tab-btns {
  border-bottom-style: ridge;
  border-bottom: 0.5 px solid gray;
  /* box-sizing: border-box; */
}

button {
  box-sizing: border-box;
}

.tab-btns button {
  box-sizing: border-box;
  border: none;
  margin: 0px;
  width: 72px;
  height: 32px;
  padding: 6px 10px;
}

.tab-btns button:hover {
  box-sizing: border-box;
  margin: 0px;
  width: 72px;
  height: 32px;
  padding: 5px 9px;
  border-width: 1px 1px 0px 1px;
  border-style: solid solid none solid;
  border-color: gray;
  cursor: pointer;
}

button.active {
  box-sizing: border-box;
  border-width: 1.5px 1.5px 0px 1.5px;
  border-style: solid solid none solid;
  /* border-color: gray; */
  background-color: rgb(115, 146, 212);
}
</style>
