<template>
  <div class="table-header">
    <span>승률</span>
    <span>픽률</span>
    <span>밴율</span>
    <span>표본수</span>
  </div>
</template>

<script>
export default {
  name: "TableHeader",
};
</script>

<style scoped>
.table-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom-style: ridge;
  border-bottom: 0.5 px solid gray;
}

span {
  padding: 5px;
  width: 76px;
  height: 21px;
  text-align: center;
}
</style>
