<template>
  <div class="body-container">
    <!-- <img alt="Vue logo" src="./assets/logo.png">
      <img alt="Vue logo" src="./assets/logo.png"> -->
    <TableContainer :rateData="rateData" :id-to-name="idToName" />
  </div>
</template>

<script>
import TableContainer from "./components/TableContainer.vue";
// import HelloWorld from './components/HelloWorld.vue'

export default {
  name: "App",
  components: {
    TableContainer,
    // HelloWorld
  },
  methods: {
    async fetchIdToName() {
      const res = await fetch("http://api.ps4.ps-analytics.com/champ-id-to-name", {credentials: "include"});
      // console.log(res.json());
      const data = await res.json();
      // console.log(data);
      return data;
    },
    async fetchRateData() {
      const res = await fetch("http://api.ps4.ps-analytics.com/champ-rate", {credentials: "include"});
      const data = await res.json();
      // console.log(data);
      return data;
    },
    filterByLane(lane) {
      return this.rateData.all_data.filter(
        (db) => db.lane === lane && db["sample count"] !== 0
      );
    },
    rateSortFunction(a, b) {
      return b["sample count"] - a["sample count"];
    },
  },
  data() {
    return {
      idToName: [],
      rateData: {},
      // topData: [],
      // middleData: [],
      // jungleData: [],
      // supportData: [],
      // adcarryData: [],
    };
  },
  async created() {
    this.idToName = await this.fetchIdToName();
    this.idToName = this.idToName.data;
    // console.log(this.idToName);
    this.rateData["all_data"] = await this.fetchRateData();
    this.rateData.all_data = this.rateData.all_data.rate;
    // console.log(this.rateData.all_data);
    this.rateData["TOP"] = this.filterByLane("TOP").sort(this.rateSortFunction);
    this.rateData["MIDDLE"] = this.filterByLane("MIDDLE").sort(
      this.rateSortFunction
    );
    this.rateData["JUNGLE"] = this.filterByLane("JUNGLE").sort(
      this.rateSortFunction
    );
    this.rateData["ADCARRY"] = this.filterByLane("ADCARRY").sort(
      this.rateSortFunction
    );
    this.rateData["SUPPORT"] = this.filterByLane("SUPPORT").sort(
      this.rateSortFunction
    );
    // console.log(this.rateData);
    // console.log(typeof this.rateData);
    // this.middleData = this.filterByLane("MIDDLE");
    // console.log(this.middleData);
    // this.jungleData = this.filterByLane("JUNGLE");
    // this.supportData = this.filterByLane("SUPPORT");
    // this.adcarryData = this.filterByLane("ADCARRY");
  },
};
</script>

<style>
.body-container {
  height: 100vh;
  min-height: 1280px;
  /* width: 100vw;
  height: 100vh; */
  background-color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.table-container {
  min-height: 200px;
  width: 930px;
  box-shadow: 0 4px 16px 0 rgb(126 155 255 / 30%);
}
</style>
